<!--The content below is only a placeholder and can be replaced.-->
<div class="form" style="text-align:center; margin:10rem">
 <h1>Register a book</h1>
  <form>
    <div>
      <label for="">Author Name</label>
      <input  type="text" [(ngModel)]="user.author" name="author" placeholder="author"  />
      <label for="">Book title</label>
      <input  type="text" [(ngModel)]="user.title" name="title"
       placeholder="title"  />
    </div>

  </form>
  <button (click)="add()">Submit</button>
  <div></div>
  <router-outlet></router-outlet>
</div>
